.test-img{
    background-image: url('../../../Assestes/photos/banner-sec2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.testimonial-section{
   padding:50px;
}
.heading{
   
    font-size: 22px;
    font-weight: 600;
    line-height: 28px; 
}
.client-says{
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 60px; 
}