button.btn.btn-secondary.dropdown-toggle{
    background: #fff !important;
    border: 1px solid #ced4da;
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 100%;
}