.footer-sec{
    background: #fff;
    padding:15px 0px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-bottom: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.footer-sec h2{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
 
    margin:0px;
}     